html,
body {
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.pageContainer {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
}
